
body,* {
  background-color: LightBlue;
}
div,p {
font-family: futura,roboto;
}
a:link {
  color: orange;
}
a:visited {
  color: yellow;
}
a:hover {
  background-color: OrangeRed;
}
a:active {
  background-color: yellow;
}
#ib {
  float: right;
}
