html {
    border-style: solid;
    border-color: blue;
    border-size: 10px;
    font-family: "Roboto";
}
body {
    background-color: LightBlue;
    font-family: "Roboto";
}
div,
p {
    font-family: "Roboto", sans-serif;
}
article {
    padding: 12px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Roboto", sans-serif;
}
a.PIN_1592667471321_button_pin.PIN_1592667471321_save.PIN_1592667471321_tall
{float: right;}
a:link {
    color: ForestGreen;
    font-family: "Roboto", sans-serif;
}
a:visited {
    color: ForestGreen;
    font-family: "Roboto", sans-serif;
}
a:hover {
    background-color: OrangeRed;
    font-family: "Roboto", sans-serif;
}
a:active {
    background-color: LightBlue;
    font-family: "Roboto", sans-serif;
}
#ib {
    float: right;
    border-style: ridge;
    border-color: green;
    border-size: 12px;
    height: 300px;
}
* {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
body {
    margin: 0;
}
#text {font-family: "Roboto"}
p {
    font-family: "Roboto", sans-serif;
}
li {font-family: "Roboto", sans-serif}
ol,ul {font-family: "Roboto"}
.header {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
}
.topnav {
    overflow: hidden;
    background-color: #333;
}
.topnav a {
    float: left;
    display: block;
    color: #f2f2f3;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.topnav a:hover {
    background-color: green;
    color: #000;
}
#pin {
    float: right;
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
